# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle
build/
!build/libs/ # Không bỏ qua thư mục libs trong build

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/